@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    border-top-color: #b726d4;
    border-left-color: #b726d4;
    border-right-color: #b726d4;
    border-bottom-color: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-width: 4px;
    border-style: solid;
    animation: spin 0.8s ease-in-out infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }